#  Additional problems

## Problem 1

* In the list of numbers 45, 65, 56, 23, 48, 66  find the numbers over 60
* The application may be to find out the ages of people above retirement age.

We start the problem by putting the ages in a list data structure

In [9]:
ages = [45, 65, 56, 23, 48, 66 ]

### Problem start 
Start by finding the inspecting the numbers. By looking at the numbers, we see that **65** and **66** are the answers. 

* loop through a list  See  https://www.w3schools.com/python/python_lists_loop.asp
* Compare numbers  See  https://www.w3schools.com/python/python_conditions.aspome 

Some sample code

In [10]:
# From https://www.w3schools.com/python/python_lists_loop.asp
for a in ages :
    print(a)

45
65
56
23
48
66

In [11]:
# From https://www.w3schools.com/python/python_conditions.asp
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Now combine the two pieces of code

In [12]:
for a in ages :
    if a > 60 :
       print(a)

65
66

## Question for YOU
* Modify the code so that the number of ages is counted.
* In the example 45, 65, 56, 23, 48, 66 the number should be **2**
* See  https://www.w3schools.com/python/python_operators.asp

In [13]:

total = 0 
for a in ages :
    if a > 60 :
#       add some code here to count the numbers of ages greater than 60
        print(a)

print("Number of ages above 60 " , total)

65
66
Number of ages above 60  0

## Question 2

* Write a function to compute the discounted price from the original price and the percentage discount.
* For example the original price of a TV is 1500 pounds and if there is a 50% discount, then the price is 1500 - 50/100* 1500 = 750
* See the example of a function https://www.w3schools.com/python/python_functions.asp

Here is an example code that prints out the price and percentage

In [14]:
# some example code 
def compute_reduced_cost(price, discount_percentage) :
    print("price " , price)
    print(" discount_percentage = ",  discount_percentage, " discount_percentage")
    return price

ans = compute_reduced_cost(1500, 50)
print("Reduced cost " , ans)

price  1500
 discount_percentage =  50  discount_percentage
Reduced cost  1500

## Question for YOU
modify the code to compute the 50% discount

In [15]:
## DEVELOP YOUR SOLUTION HERE
## Modify the code below

def compute_reduced_cost(price, discount_percentage) :
    print("price " , price)
    print(" discount_percentage = ",  discount_percentage, " discount_percentage")
    return price

ans = compute_reduced_cost(1500, 50)
print("Reduced cost " , ans)

price  1500
 discount_percentage =  50  discount_percentage
Reduced cost  1500

## Question 3 

In this question we look at dealing with errors.

* Syntax errors. Python requires very precise use of code.
* For example, the definition of a function requires a **"** at the end of the line
* Code inside a **for** , **if** or **function** requires the code to be at the same indentation level

See the buggy example below

In [16]:
ages = [45, 65, 56, 23, 48, 66 ]
for x in ages:
if x > 60 
    print(x)

IndentationError: expected an indented block (2921700905.py, line 3)

The problems with the code are:
* missing colon at the end of the for loop
* the print and if statement need to be indented

Typically I fix one error at a time

In [17]:
ages = [45, 65, 56, 23, 48, 66 ]
for x in ages:
    if x > 60 :
        print(x)

65
66

###
The example code computes the mean of numbers above 60.
* The code below has syntax errors
* Fix the errors so that the code works. 
* You need to make sure the indentation of the python is correct

In [18]:
ages = [45, 65, 56, 23, 48, 66 ]

def mean_of_ages_bigger_65(xx):
total = 0 
    n = 0 
    for x in xx :
        if x > 60 
        n = n + 1
        total += x
total /= n
    print("Mean of ages > 60 = " , total)
    
mean_of_ages_bigger_65(ages)

IndentationError: expected an indented block (3824191658.py, line 4)

## The corrected code is below

In [19]:
ages = [45, 65, 56, 23, 48, 66 ]

def mean_of_ages_bigger_65(xx):
    total = 0 
    n = 0 
    for x in xx :
        if x > 60 :
            n = n + 1
            total += x
    total /= n
    print("Mean of ages > 60 = " , total)
    
mean_of_ages_bigger_65(ages)

Mean of ages > 60 =  65.5

## Question 4 

* Create a function that takes a string (will be a person's first and last name) and returns a string with the first and last name swapped.
*  See additional help from https://edabit.com/challenge/pKSL3HtApPYAJ72CJ
* One possible solution is to use split https://www.w3schools.com/python/ref_string_split.asp

name_shuffle("Donald Trump") ➞ "Trump Donald"

name_shuffle(Donnell") ➞ "O'Donnell Rosie"

name_shuffle("Seymour Butts") ➞ "Butts Seymour"

In [20]:
# put your solution here
def name_shuffle(xx) :
    print(xx)

    
name_shuffle("Donald Trump")
name_shuffle("Donnell")
name_shuffle("Seymour Butts")

Donald Trump
Donnell
Seymour Butts

## Question 5

* Write a function to only return the last 4 numbers of a credit card number
* This challenge came from 

card_hide("1234123456785678") ➞ "************5678"

card_hide("8754456321113213") ➞ "************3213"

card_hide("35123413355523") ➞ "**********5523"

In [21]:
##  PUT YOUR SOLUTION here

def card_hide(x):
    y = x
    for y_ in y :
       print(y_, end="")
    print("")
    
card_hide("1234123456785678")
card_hide("8754456321113213")
card_hide("35123413355523")

1234123456785678
8754456321113213
35123413355523

A better way to solve this is to use regular expressions