# Computer Lab Exercises week 6

* These lab exercises are designed to introduce the use of SQL to extract information from a database.
* A screencast on downloading jupyter notebooks from the online store.
https://youtu.be/1zY7hIj5tWg
* These exercises are **not** part of the assessment of the Module.
*â€€I will post the solutions roughly 1 week after this file has been uploaded to the DLE.
* Please first watch and work through the linkedin learning video
* Please note that pasting python from pdf can sometimes cause problems. For example quotation marks can sometimes be converted incorrectly, so then running python will cause errors.

* See https://sites.google.com/view/pythonforstemstudents/home for a collection
of links to information on python.

## Question 1  Questions about SQL

Thare is a list of SQL commands at https://www.w3schools.com/sql/sql_syntax.asp.

I also suggest you use  the command line program
https://sqlite.org/cli.html, if it is installed, to run
some of the SQL commands.

##  Question 1 (basic SQL)

Download the SQLite file from **SimpleFolks for Simple SQL**
http://2016.padjo.org/files/data/starterpack/simplefolks.sqlite The file simplefolks.sqlite needs to be in the same directory as this notebook.

You can read more about the dataset at http://2016.padjo.org/tutorials/sql-simplefolks-select-from/

The above database has the following tables:
homes, inmates, people, pets and politicians.
The people database has the column names: 
name, sex and age.

Use SQL via python to answer the following questions.


* Find all the names in the people table.
* Find all the names in the people table, for the people younger than 30 years old.
* Find all the names of the men in the people table.
* Find the average age of the people in the people table.
* Find the table names from the database file.

In [ ]:
import sqlite3
connection = sqlite3.connect("simplefolks.sqlite")
cursor = connection.cursor()

# you can change the SQL command
cursor.execute("SELECT * FROM people") 
print("List the content of the people table")
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
# Put your solution here

##  Question 2: SQL and python


We have been using python to run SQL 
queries from a SQLite database. However,
we have used a separate python script for
each query. It would be better to ask the
user for the SQL query.

In [2]:
sql_ = input("Input SQL command")
print("Executing ", sql_)

Input SQL commandselect * from people
Executing  select * from people

Modify the cell above so the user can input an abrbitary SQL statement 
on the simplefolks.sqlite database.
Also include exception handling
to check for errors.



Please read about SQL injection attacks at
https://www.tutlane.com/tutorial/sqlite/sqlite-injection-attacks.
This is just for information.

In [ ]:
# put your solution here

##  Question 3, plotting the data from a database

Use SQL to extract the ages of the Males and Females seperately. Plot the ages of the males and females in the same histogram. The plot should look like the figure below.

![hist_male_female](https://github.com/cmcneile/COMP5000-2022-labs/blob/main/hist_MF.png?raw=true)

In [1]:
# put your oolution here